body {
  background-color: #40739e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-container {
  background-color: white;
  width: 30%;
  border-radius: 8px;
  text-align: center;
}

#search-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

#weather-icon,
#temperature,
#city {
  margin: 1rem;
}

#card-footer {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 1rem;
}

#wind-icon,
#humidity-icon {
  width: 1.5em;
  height: 1.5em;
  margin-bottom: 0px;
}

#wind-text,
#humidity-text {
  margin-top: 0px;
}

#wind-icon,
#humidity-icon {
  display: none;
}
